html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  color: getColour(text);
  background: radial-gradient($white, $gradient-to);
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}
