.pageNav {
  &__link {
    border: 1px solid getColour(primary);

    .active {
      background-color: getColour(primary);
    }

    &:focus {
      box-shadow: none;
      outline: 1px solid getColour(primary);
    }

    &:hover {
      color: getColour(primary);
    }
  }

  &__link,
  &__link:focus {
    color: getColour(primary);
  }

  .page-item.active > span {
    background-color: getColour(primary);
    border-color: getColour(primary);
  }
}

.cardGroup {
  &__item {
    border-radius: 10px;
    border: none;

    .card-img-top {
      border-radius: 10px 10px 0 0;
      height: 190px;
      width: 100%;
      object-fit: cover;
    }

    & p {
      color: getColour(dark-grey);
    }

    @media (max-width: 768px) {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &__btn {
    border: none;
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(
      90deg,
      getColour(primary) 85%,
      getColour(dark-grey) 15%
    );
    color: $white;
  }
}
